
html {
    background: #fcfcfc;
}
.main-content {
    font-family: nunito, sans-serif;
}

.clear {
    clear: both;
}

.profile-part {
    float: left;
    width: 27%; 
}

.content-part {
    float: right;
    width: 73%;
}

.main-profile {
    box-shadow: 0px 0px 20px #0000001a;
    border-radius: 15px;
}

.main-profile .header {
    padding: 15px 20px;
}

.user-details {
    padding: 15px 20px 20px;
}

.hi-left {
    display: inline-block;
    width: 75%;
    vertical-align: middle;
}

.hi-right {
    display: inline-block;
    width: 25%;
    text-align: center;
    vertical-align: middle;
}

.levelrate {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 1em;
}

.dcreatechallenge .dimage img {
    width: 45px;
    margin: 0 auto 5px;
}

.dcreatechallenge .dtext {
    color: #fcaf38;
    font-size: 12px;
    font-style: normal;
}

.ud-inner h3 {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 1em;
    margin-bottom: 10px;
}

.ud-inner .stats {
    margin-bottom: 10px;
}

.ud-inner .stats ul li {
    display: inline-block;
    margin-right: 15px;
    line-height: 1em;
}

.ud-inner .stats ul li > div {
    display: inline-block;
}

.stats ul li a {
    color: #fcaf38;
    font-weight: bold;
}

.dinfo ul li {
    display: inline-block;
    width: 49%;
}

.dinfo ul li > div {
    display: inline-block;
    font-size: 14px;
}



.dpointicon {
    width: 15px;
    height: 15px;
    border-radius: 30px;
}

.dpointtext {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-left: 5px;
}

.dinfo .dnum {
    margin-right: 5px;
    font-weight: bold;
}

.dinfo .dtext {
    text-transform: capitalize;
}

.content-inner .timeline {
    float: left;
    width: 67%;
    padding: 15px;
}

.content-inner .srightnotif {
    width: 33%;
    float: right;
}

.top-part .wall-of-achievement {
    float: left;
    width: 45%;
}

.top-part .top-activities{
    float: right;
    width: 55%;
} 

.timeline .top-part {
    margin-bottom: 25px;
}

/* tabs style */
ul.tabtitles > li {
    display: inline-block;
    font-size: 20px;
    color: #484848;
    font-style: normal;
    font-weight: 400;
    height: auto;
    left: 0px;
    margin-right: 25px;
    cursor: pointer;
}

.tabtitles .react-tabs__tab--selected {
    border-bottom: 2px solid #303c6c;
    color: #303c6c;
    font-weight: 600;
}

.list-of-achievement {
    line-height: 1em;
    background: #b94375;
    width: 95%;
    height: 150px;
    border-radius: 5px;
}

.top-header {
    font-size: 16px;
    color: #484848;
    font-weight: 600;
    line-height: 1em;
    margin-bottom: 15px;
}

.ta-list > .ta-list-item {
    background: #2c9cdb;
    width: 30%;
    display: inline-block;
    margin-right: 3%;
    height: 160px;
    border-radius: 5px;
    vertical-align: top;
}
.ta-list > .ta-list-item.yellowbar {
    background: #f2c94c;
}
.ta-list > .ta-list-item.purplebar {
    background: #bb6bd9;
}
.ta-list > .ta-list-item > .ta-inner {
    padding: 10px 10px;
}

.ta-list > .ta-list-item > .ta-inner .dcenter {
    width: 85%;
    margin: 0 auto 10px;
}
.ta-list > .ta-list-item > .ta-inner .dnum {
    text-align: center;
    font-size: 14px;
    line-height: 1em;
    font-weight: bold;
    color: #fff;
}

.ta-list > .ta-list-item .CircularProgressbar-trail {
    stroke: none;
}

.ta-list > .ta-list-item .CircularProgressbar-background  {
    fill: #fff;
}


.ta-list > .ta-list-item.bluebar .CircularProgressbar-path {
    stroke: #2f80ed;
}

.ta-list > .ta-list-item.yellowbar .CircularProgressbar-path {
    stroke: #f2994a;
}

.ta-list > .ta-list-item.purplebar .CircularProgressbar-path {
    stroke: #9b51e0;
}

.ta-list > .ta-list-item h3 {
    font-weight: bold;
    text-align: center;
    font-size: 11px;
    line-height: 1.2em;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 10px;
    min-height: 26px;
}

.ta-list > .ta-list-item .dwhitebg {
    background: #fff;
    border-radius: 100px;
    height: 60px;
    width: 60px;
}

.ta-list > .ta-list-item.yellowbar .dcenterimage {
    margin: 15px auto !important;
}
.ta-list > .ta-list-item.purplebar .dcenterimage {
    margin: 19px auto !important;
}

.sr-item {
    box-shadow: 0px 0px 20px #0000001a;
    margin-bottom: 20px;
    border-radius: 15px;
    overflow: hidden;
}

.sr-item.close_content .sri_content{
    display: none;
}

.sr-item.close_content .sri-title {
    margin: 0;
    border: 0;
}

.sr-item .sri-title {
    padding: 20px 20px 15px;
    font-size: 16px;
    color: #484848;
    font-weight: 600;
    line-height: 1em;
    margin-bottom: 15px;
    border-bottom: 1px solid #bfbfbf;
    position: relative;
}

.sr-item .sri-title .dcloseicon {
    position: absolute;
    top: 19px;
    right: 20px;
    cursor: pointer;
}

/* challenge */
.dchallemgeheader {
    text-align: center;
}
.dchallemgeheader .dci-left {
    display: inline-block;
    width: 45%;
}
.dchallemgeheader .dci-left button {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 12px #00000026;
    height: 56px;
    width: 214px;
    color: #fcaf38;
    font-weight: bold;
    border: 1px solid #fcaf38;
}
.dchallemgeheader .dci-left button >* {
    display: inline-block;
}
.dchallemgeheader .dci-left button > img {
    margin-right: -10px;
}
.dchallemgeheader .dci-right {
    display: inline-block;
    width: 45%;
}
.dchallemgeheader .dci-right button {
    background: rgb(254,201,70);
    background: linear-gradient(180deg, rgba(254,201,70,1) 0%, rgba(244,170,60,1) 100%);
    border-radius: 8px;
    box-shadow: 0px 4px 12px #00000026;
    height: 56px;
    width: 214px;
    color: #fff;
    font-weight: bold;
}
.dchallemgeheader .dci-right button > * {
    display: inline-block;
}

.dchallemgeheader .dci-right button > img {
    margin-right: -10px;
}
.dchallemgeheader {
    text-align: center;
    padding: 60px 0;
    border-bottom: 1px solid #bfbfbf;
}
.challenges-inner {
    width: 90%;
    margin: 0 auto;
}
.dchallengeheadpart .dpartimage {
    display: inline-block;
    width: 20%;
    vertical-align: middle;
}
.dchallengeheadpart .dpartimage img {
    width: 90%;
    border-radius: 5px;
}

.dchallengeheadpart .dheadtile{
    display: inline-block;
    width: 70%;
    vertical-align: middle;
}
.dchallengeheadpart .dheadtile h3 {
    font-size: 14px;
    line-height: 1em;
}
.dchallengeheadpart .dheadtile h3 span.dusername {
    font-size: 16px;
    font-weight: bold;
}
.dchallengeheadpart .dheadtile h3 span.dactivity {
    font-size: 16px;
    font-weight: bold;
}
.dchallengeheadpart .dheadtile .dtime {
    line-height: 1em;
    font-size: 14px;
    margin-top: 5px;
}
.dchallengeheadpart .dheadtile .dtags {
    margin-top: 5px;
}
.dchallengeheadpart .dheadtile .dtags span {
    display: inline-block;
    font-size: 12px;
    background: #ffca28;
    margin-right: 5px;
    color: #fff;
    line-height: 1em;
    padding: 5px 10px;
    border-radius: 18px;
    text-transform: capitalize;
}
.dch-item {
    position: relative;
}
.dch-item .ditm-inner {
    box-shadow: 0px 4px 12px #00000026;
    margin-top: 65px;
    background: #fff;
    border-radius: 5px;
}
.cc_inner .dimage {
    width: 40%;
    display: inline-block;
}
.cc_inner .dinfo {
    width: 59%;
    display: inline-block;
    vertical-align: top;
}
.challange_content {
    background: #ffc928;
    color: #000;
    padding: 25px 10px;
}
.challange_content .dinfo .dfreq {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1em;
    margin-bottom: 5px;
}
.challange_content .dinfo .dtitle {
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1em;
    margin-bottom: 10px;
}
.challange_content .dinfo .ddesc {
    font-size: 16px;
    line-height: 1.2em;
    margin-bottom: 16px;
}
.challange_content .dinfo .dstatus {
    font-size: 15px;
    line-height: 1em;
    margin-bottom: 10px;
}
.challange_content .dinfo .dstatus span {
    font-weight: bold;
}
.challange_content .dinfo .douter {
    background: #fbe8a6;
    height: 8px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 15px;
}
.challange_content .dinfo .douter .dorange {
    background: #fcaf38;
    width: 30%;
}
.challange_content .dinfo .dpeople {
    line-height: 1em;
    text-align: right;
    font-size: 12px;
    margin-bottom: 20px;
}
.challange_content .dinfo .dbuttons {
    text-align: right;
}
.challange_content .dinfo .dbuttons button {
    line-height: 1em;
    padding: 15px 25px;
    font-size: 14px;
}
.challange_content .dinfo .dbuttons button.dwhitebg {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 11px #fcaf38;
    color: #fcaf38;
    font-weight: bold;
}
.dchallengeheadpart {
    padding: 18px 25px;
}
.dprogress {
    margin-bottom: 55px;
}
.challengebuttom {
    padding: 0px 0px;
    position: relative;
}
.challengebuttom .dc-left-item {
    display: inline-block;
    margin-right: 10px;
}
.challengebuttom .dc-left-item .dicon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.challengebuttom .dc-left-item .dvals {
    display: inline-block;
    vertical-align: middle;
}
.challengebuttom .dcleft {
    float: left;
    width: 120px;
    position: absolute;
    background: #fff;
    bottom: -15px;
    text-align: center;
    padding: 5px 0px;
    border-radius: 5px;
}
.challengebuttom .dcright {
    float: right;
    text-align: right;
    background: #fff;
    padding: 10px 20px;
    position: absolute;
    right: 0;
    border-radius: 5px;
}
.challengebuttom .dccomment img {
    display: inline-block;
}

.roundleft {
    box-shadow: 0px 4px 12px #00000026;
}
.roundright {
    box-shadow: 0px 4px 12px #00000026;
}
.challengebuttom .dc-left-item .dvals .dv-inner {
    font-size: 12px;
    font-weight: 600;
}


/* timeline */
.timeline-inner {
    width: 90%;
    margin: 0 auto;
}

.timeline-inner .om-inner {
    box-shadow: 0px 4px 12px #00000026;
    padding: 10px 20px 35px;
    border-radius: 5px;
}
.timeline-inner .om-inner .dprofpic {
    display: inline-block;
    width: 11%;
    vertical-align: top;
}
.timeline-inner .om-inner .dtextarea {
    display: inline-block;
    width: 88%;
    padding-left: 15px;
}

.timeline-inner .om-inner .dprofpic img {
    width: 55px;
    border-radius: 5px;
}
.timeline-inner .om-inner .dtextarea textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    font-size: 14px;
}
.tm-onmind {
    position: relative;
    margin-top: 50px;
}
.tm-onmind .doptions .leftops .ditmone {
    display: inline-block;
}
.tm-onmind .doptions .leftops .ditmone img {
    margin: 0 10px;
}
.tm-onmind .doptions .leftops {
    position: absolute;
    background: #fff;
    bottom: -30px;
    padding: 10px 10px;
    left: 0px;
    border-radius: 5px;
}
.tm-onmind .doptions .rightops {
    position: absolute;
    background: #fff;
    padding: 10px 15px;
    right: 0px;
    bottom: -30px;
    border-radius: 5px;
}

.dtimelinemain .dtm-item-inner .dtm-item-image {
    float: left;
    width: 18%;
    padding-right: 10px;
}

.dtimelinemain .dtm-item-inner .dtm-item-image img {
    border-radius: 5px;
}

.dtimelinemain .dtm-item-inner .dtm-item-info {
    float: right;
    width: 82%;
}

.dtimelinemain {
    margin-top: 60px;
}

.dtimelinemain .dtm-item .dtm-item-inner {
    box-shadow: 0px 4px 12px #00000026;
    padding: 10px 20px;
    border-radius: 5px;
}
.dtimelinemain .dtm-item-inner .dtm-item-info h3 {
    line-height: 1em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}
.dtimelinemain .dtm-item-inner .dtm-item-info .subinfo {
    font-size: 12px;
    color: #a0a8b0;
}

.dtm-item .dtm-content .dtm-content-inner {
    margin-top: 10px;
    line-height: 1.3em;
}

.dtm-comments .dtm-comment-inner .dtm-comment-image {
    display: inline-block;
    width: 10%;
}
.dtm-comments .dtm-comment-inner .dtm-comment-image img {
    border-radius: 5px;
}

.dtm-comments .dtm-comment-inner .dtm-comment-content {
    vertical-align: top;
    display: inline-block;
    width: 90%;
    padding-left: 15px;
}

.drm-comments-inner {
    margin-left: 10%;
    /* border-left: 1px solid #a0a8b0; */
    padding-left: 15px;
    position: relative;
}

.drm-comments-inner::before {
    content: '';
    border-left: 2px solid #a0a8b0;
    position: absolute;
    left: 0;
    height: 80%;
    top: 5%;
}

.challengebuttom.dtimeline .dcleft {
    left: -20px;
    bottom: -20px;
}

.challengebuttom.dtimeline .dcright {
    right: -20px;
    bottom: -20px;
}

.dtm-comments {
    margin-top: 25px;
}

.dtm-comment-inner {
    margin-bottom: 20px;
}

.dtm-comments .dtm-comment-inner .dtm-comment-content .dpagetitle {
    font-size: 16px;
    font-weight: bold;
    line-height: 1em;
    margin-bottom: 5px;
}

.dtm-comments .dtm-comment-inner .dtm-comment-content .dcommentcontent {
    box-shadow: 0px 4px 12px #00000026;
    padding: 10px 20px;
    border-radius: 5px;
}

.dtm-comments .dtm-comment-inner .dtm-comment-content .dpagetitle span.dtime {
    font-size: 12px;
    color: #a0a8b0;
}

.dcommentcontent .dcm-text {
    font-size: 15px;
}

.dcm-options .doptleft {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

.dcm-options .doptright {
    display: inline-block;
    width: 50%;
    text-align: right;
    vertical-align: middle;
}

.dcm-options .doptleft .dc-left-item {
    display: inline-block;
    margin-right: 13px;
}
.dcm-options .doptleft .dc-left-item > div {
    display: inline-block;
}

.dcm-options .doptleft .dc-left-item .dicon img {
    width: 100%;
}
.dcm-options .doptleft .dc-left-item .dicon {
    width: 12px;
}

.dcm-options .doptleft .dc-left-item .dvals {
    font-size: 11px;
    margin-left: 5px;
}

.dcm-options .doptright button {
    font-size: 13px;
}

.dreplypart .dpartimage {
    display: inline-block;
    width: 10%;
}
.dreplypart .dformpart {
    vertical-align: top;
    display: inline-block;
    width: 90%;
    padding-left: 15px;
}

.dreplypart .dpartimage img {
    border-radius: 5px;
}

.dreplypart .dformpart .dforminner {
    box-shadow: 0px 4px 12px #00000026;
    padding: 10px 20px;
    border-radius: 5px;
}
.dreplypart .dformpart .dforminner .dftextarea {
    display: inline-block;
    width: 90%;
    vertical-align: middle;
}
.dreplypart .dformpart .dforminner .dftextarea textarea {
    width: 100%;
    font-size: 14px;
    height: 30px;
}
.dreplypart .dformpart .dforminner .demoticons {
    display: inline-block;
    width: 10%;
    vertical-align: middle;
    text-align: center;
}

.dreplypart .dformpart .dforminner .demoticons button {
    color: #596366;
    font-size: 30px;
    line-height: 1em;
}

/* daily challenges sidebar */
.daily_goals .sri_inner {
    padding: 5px 25px;
}

.daily_goals .sri_inner .dicon {
    display: inline-block;
    width: 20%;
    vertical-align: top;
}

.daily_goals .sri_inner .dicon img {
    width: 45px;
}

.daily_goals .sri_inner .dcontent {
    display: inline-block;
    width: 79%;
    vertical-align: top;
    padding-left: 5px;
}

.daily_goals .sri_inner .dcontent h2 {
    color: #219653;
    font-weight: bold;
    line-height: 1em;
    margin-bottom: 5px;
    font-size: 16px;
}

.daily_goals .sri_inner .dcontent .ddesc {
    line-height: 1.2em;
    font-size: 15px;
}

.daily_goals .progress-bar {
    background: #6fcf97;
    margin-top: 15px;
    position: relative;
}
.daily_goals .progress-bar .dprogressvalue {
    background: #219653;
    width: 67.5%;
}

.daily_goals .progress-bar .dvaltext {
    width: 100%;
    position: absolute;
    z-index: 9;
    top: 0;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    margin-top: 3px;
    letter-spacing: 2px;
}

/* progress bar */
.ongoing_challenge .sri_inner {
    padding: 5px 25px;
}

.ongoing_challenge .sri_inner .dicon {
    display: inline-block;
    width: 20%;
    vertical-align: top;
}

.ongoing_challenge .sri_inner .dicon img {
    width: 45px;
}

.ongoing_challenge .sri_inner .dcontent {
    display: inline-block;
    width: 79%;
    vertical-align: top;
    padding-left: 5px;
}

.ongoing_challenge .sri_inner .dcontent h2 {
    color: #9b51e0;
    font-weight: bold;
    line-height: 1em;
    margin-bottom: 5px;
    font-size: 16px;
}

.ongoing_challenge .sri_inner .dcontent .ddesc {
    line-height: 1.2em;
    font-size: 15px;
}


/* clan challenge */
.cc-inner {
    
}

.clan-inner .breadcrumbs-main {
    margin-bottom: 35px;
}

.clan-inner .breadcrumbs-main ul{
    margin: 0;
    padding: 0;
}

.clan-inner .breadcrumbs-main ul li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}

.clan-inner .breadcrumbs-main ul li::after {
    content: '•';
    padding-left: 20px;
}

.clan-inner .breadcrumbs-main ul li a {
    text-transform: uppercase;
}

.clan-challenges button.newchallenge {
    background: rgb(254,201,70);
    background: linear-gradient(180deg, rgba(254,201,70,1) 0%, rgba(244,170,60,1) 100%);
    border-radius: 8px;
    box-shadow: 0px 4px 12px #00000026;
    height: 56px;
    width: 214px;
    color: #fff;
    font-weight: bold;
}

.clan-challenges .dc-left {
    display: inline-block;
    width: 70%;
    vertical-align: top;
}

.clan-challenges .dc-right {
    display: inline-block;
    width: 29%;
    vertical-align: top;
}

.clan-header-inner {
    background: #fff;
    box-shadow: 0px 4px 12px #00000026;
    border-radius: 0 0 15px 16px;
    margin: 0 20px;
    /* width: 1340px; */
    padding: 10px;
}

.clan-header-inner .dlogo {
    display: inline-block;
    width: 10%;
    vertical-align: middle;
}

.clan-header-inner .dlogo img {
    width: 120px;
}

.clan-header-inner .ditems {
    display: inline-block;
    width: 89%;
    vertical-align: middle;
    text-align: right;
}

.clan-header-inner .ditems > div {
    display: inline-block;
    vertical-align: middle;
   /*  margin: 0 10px; */
    position: relative;
}

.clan-header-inner .ditems .dmenu ul {
    margin: 0;
    padding: 0;
}

.clan-header-inner .ditems .dmenu ul li {
    display: inline-block;
    margin-right: 10px;
}

.clan-header-inner .ditems .dmenu ul li a {
    font-size: 18px;
}

.clan-header-inner .ditems .dproficon img {
    width: 40px;
    border-radius: 5px;
}

.clan-header-inner .ditems .dnotif {
    margin: 0 5px;
}

.clan-header-inner .ditems .dnotif > div {
    display: inline-block;
    font-size: 26px;
    color: #a0a8b0;
    margin: 0 10px;
    position: relative;
}

.clan-header-inner .ditems .dnotif .notifone {
    background: #ffca28;
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 10px;
    border: 2px solid #fff;
    top: 3px;
    right: -4px;
}

.clan-header-inner .ditems .dcoin .dcoin-inner > * ,
.clan-header-inner .ditems .dmedals .dmedal-inner > * {
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
}
.clan-header-inner .ditems .dsearch span {
    color: #596366;
    position: absolute;
    font-size: 20px;
    top: 9px;
    margin-left: 10px;
}
.clan-header-inner .ditems .dsearch input {
    border: 1px solid #a0a8b0;
    line-height: 1em;
    padding: 10px 10px 10px 35px;
    border-radius: 15px;
    width: 150px;
}

.clan-header-inner .ditems .dcoin img {
    width: 18px;
}

.clan-header-inner .ditems .dmedals img {
    width: 14px;
}

.clan-inner.mt-20 {
    margin-top: 3rem;
}

.clan-challenges .dcl-inner h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3em;
    margin-bottom: 5px;
}

.clan-challenges .dcl-inner .dsubtitle {
    font-size: 13px;
}

.clan-challenges .dcl-inner .cc-list-inner .nochallenge {
    font-size: 16px;
    margin-top: 20px;
}

.clan-challenges .dcl-inner .cc-list-inner .nochallengenomessage {
    font-size: 16px;
    font-weight: bold;
}

.breadcrumbs-inner li.isactive {
    font-weight: 600;
}

.clan-inner .dheaderbase {
    background: #fff;
    box-shadow: 0px 4px 12px #00000026;
    padding: 30px 30px;
    border-radius: 5px;
    margin-bottom: 26px;
}

.clan-inner .dheaderbase .dhb-image {
    display: inline-block;
    width: 20%;
    vertical-align: middle;
}

.clan-inner .dheaderbase .dhb-info {
    display: inline-block;
    width: 73%;
    vertical-align: middle;
}

.clan-inner .dheaderbase .dhb-eds {
    display: inline-block;
    width: 5%;
    vertical-align: middle;
}

.clan-inner .dheaderbase .dhb-info h2 {
    font-size: 46px;
    font-weight: bold;
    line-height: 1.2em;
}

.clan-inner .dheaderbase .dhb-info .info-desc {
    font-size: 18px;
    margin-top: 15px;
}

.clan-inner .dheaderbase .dhb-image .img-place {
    display: inline-block;
    background: #f89a18;
    padding: 5px;
    border-radius: 15px;
}

.clan-inner .dheaderbase .dhb-image img {
    width: 170px;
    border: 10px solid #fff;
    border-radius: 15px;
}

.clan-home .dinfostats {
    background: #fff;
    box-shadow: 0px 4px 12px #00000026;
    padding: 15px 25px;
    border-radius: 5px;
    margin-bottom: 26px;
}

.clan-home .dinfostats > div {
    width: 33%;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
}

.clan-home .dinfostats .creator > div {
    display: inline-block;
    vertical-align: middle;
}

.clan-home .dinfostats .creator .dimage{
    margin-right: 15px;
}

.clan-home .dinfostats .creator .dimage img {
    width: 55px;
    border-radius: 100px;
    height: 55px;
}

.clan-home .dinfostats .rank {
    text-align: center;
}

.clan-home .dinfostats .role {
    text-align: right;
}

.clan-home .dinfostats .role span {
    font-weight: bold;
}

.clan-inner .ddetails .dd-inner .dd-left {
    display: inline-block;
    width: 65%;
    vertical-align: top;
}

.clan-inner .ddetails .dd-inner .dd-right {
    display: inline-block;
    width: 35%;
    vertical-align: top;
}

.clan-inner  .ddl-item-inner {
    background: #fff;
    box-shadow: 0px 4px 12px #00000026;
    padding: 15px 25px;
    width: 95%;
    border-radius: 5px;
}

.clan-inner .ddl-item-inner h4 {
    font-size: 19px;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 20px;
}

.clan-inner .ddl-item-inner .ddesc {
    font-size: 16px;
    text-align: center;
}

.clan-inner .timeline-inner {
    width: 95%;
    border-radius: 5px;
    margin: 0;
}

.clan-inner .dtimelineinfo .dt-info {
    text-align: center;
    margin-top: 30px;
    padding: 120px 0;
}

.clan-inner .dtimelineinfo .dt-info .dnomessage {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.clan-inner.container {
    width: 1080px;
}

.clan-inner .achievement-game {
    background: #fff;
    box-shadow: 0px 4px 12px #00000026;
    padding: 185px 25px;
    border-radius: 5px;
}

.clan-inner .achievement-game h3 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.clan-inner .achievement-game .ddescinfo {
    text-align: center;
    line-height: 1.3em;
    margin-bottom: 15px;
}

.clan-inner .achievement-game .dachievename {
    text-align: center;
}

.clan-inner .achievement-game .dachievename button {
    background: #288ac1;
    line-height: 1em;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 10px;
}

.clan-members .infobase {
    background: #fff;
    box-shadow: 0px 4px 12px #00000026;
    /* padding: 15px 25px; */
    border-radius: 5px;
}

.clan-members .topinfo {
    /* margin-bottom: 20px; */
    background: #f2f2f2;
    padding: 15px 25px;
}

.clan-members .topinfo .tp-left {
    display: inline-block;
    width: 50%;
}

.clan-members .topinfo .tp-right {
    display: inline-block;
    width: 50%;
    text-align: right;
}

.clan-members .memberlist {
    padding: 15px 25px 30px;
}

.clan-members .memberlist .searchpart .dsearch{
    position: relative;
}

.clan-members .memberlist .searchpart .dsearch input{
    border: 1px solid #a0a8b0;
    line-height: 1em;
    padding: 10px 10px 10px 35px;
    border-radius: 15px;
    width: 410px;
}

.clan-members .memberlist .searchpart .dsearch span {
    color: #596366;
    position: absolute;
    font-size: 20px;
    top: 9px;
    margin-left: 10px;
}

.clan-members .memberlist .mem-list-item  {
    display: inline-block;
    width: 48%;
    box-shadow: 0px 4px 12px #00000026;
    margin-right: 1.8%;
    border-radius: 5px;
    padding: 10px 15px;
}

.clan-members .memberlist .mem-list-item .dprofimage {
    display: inline-block;
    width: 17%;
    vertical-align: middle;
}

.clan-members .memberlist .mem-list-item .dprofimage img {
    width: 65px;
    border-radius: 10px;
}

.clan-members .memberlist .mem-list-item .dinfo {
    display: inline-block;
    width: 78%;
    vertical-align: middle;
}

.clan-members .memberlist .mem-list-item .dinfo .dmem-info {
    font-size: 14px;
    line-height: 1.3em;
    margin-bottom: 5px;
}

.clan-members .memberlist .mem-list-item .dinfo .dmem-info span {
    margin: 0 10px;
}

.clan-members .memberlist .mem-list-item .dinfo .dmem-info strong {
    font-size: 15px;
}

.clan-members .memberlist .mem-list-item .dops {
    display: inline-block;
    width: 5%;
    vertical-align: middle;
    text-align: right;
}

.clan-members .memberlist .mem-list-item .dops .dops-inner {
    font-size: 23px;
}

.clan-members .infobase .mem-inner {
    margin-bottom: 20px;
}

.clan-members .memberlist .mem-list-item .dinfo .role {
    border: 1px solid #49afd9;
    display: inline-block;
    font-size: 12px;
    padding: 5px 15px;
    line-height: 1em;
    background: #e1f1f6;
    color: #49afd9;
}

.clan-members button.dinvitefriends {
    background: #fff;
    line-height: 1em;
    padding: 20px 23px 20px 60px;
    border-radius: 15px;
    text-transform: capitalize;
    font-weight: bold;
    position: relative;
}

.clan-members button.dinvitefriends span {
    border: 1px solid #f2f2f2;
    font-size: 30px;
    position: absolute;
    left: 15px;
    padding: 10px;
    border-radius: 10px;
    top: 10px;
}
.dshowclan {
    position: relative;
}

.dshowclan .showedClan {
    cursor: pointer;
}

.hi-left .clanlist {
    background: #fff;
    position: absolute;
    z-index: 9;
}
.hi-left .clanlist ul li .dicon {
    display: inline-block;
    background: #f2c94c;
    width: 17px;
    text-align: center;
    border-radius: 50px;
    vertical-align: middle;
    margin-right: 7px;
    font-size: 11px;
}
.hi-left .clanlist ul li .dname {
    display: inline-block;
    font-size: 13px;
}
.hi-left .clanlist ul li.create_clan,
.hi-left .clanlist ul li.join_clan {
    font-size: 13px;
    color: #f2c94c;
}
.hi-left .clanlist ul li {
    padding: 10px 20px;
}
.hi-left .clanlist ul li:hover {
    background: #f2f2f2;
    cursor: pointer;
}

.close_clan_option {
    display: none;
}


/* create clan modal */
.create_clan_modal {
    width: 567px;
    margin: 10% auto;
    background: #fff;
    padding: 30px;
    font-family: nunito, sans-serif;
    border-radius: 8px;
}

.dcreate_clan_inner .dtitle {
    display: inline-block;
    width: 90%;
}

.dcreate_clan_inner .dclose {
    display: inline-block;
    width: 9%;
    text-align: right;
}

.dcreate_clan_inner .dclose button {
    color: #eb5757;
    font-size: 24px;
}

.dcreate_clan_inner .dtitle h2 {
    font-size: 18px;
    font-weight: bold;
}

.dcreate_clan_inner .header_part {
    border-bottom: 1px solid #bfbfbf;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.dcreate_clan_inner .content_part .dconts {
    font-size: 20px;
    line-height: 1.3em;
    margin-bottom: 10px;
}

.dcreate_clan_inner .content_part .dformlist .df_item label {
    display: block;
    font-size: 16px;
    line-height: 1em;
    margin-bottom: 5px;
}

.dcreate_clan_inner .content_part .dformlist .df_item {
    margin-bottom: 15px;
    position: relative;
}

.dcreate_clan_inner .content_part .dformlist .df_item label span {
    font-size: 12px;
}

.dcreate_clan_inner .content_part .dformlist .df_item input,
.dcreate_clan_inner .content_part .dformlist .df_item textarea {
    border: 1px solid #dfdfe1;
    width: 100%;
    line-height: 1.3em;
    padding: 10px 20px;
    border-radius: 5px;
}

.dcreate_clan_inner .dbuttonups {
    text-align: right;
}
.dcreate_clan_inner .dbuttonups button.dcancel {
    color: #a5acb4;
    text-transform: uppercase;
    margin-right: 15px;
    line-height: 1em;
    font-size: 14px;
    border: 1px solid #a5acb4;
    padding: 10px 15px;
    border-radius: 6px;
    font-weight: bold;
}
.dcreate_clan_inner .dbuttonups button.dcreate {
    background: #ffca28;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 15px;
    border-radius: 6px;
    line-height: 1em;
    border: 1px solid #ffca28;
}

.dcreate_clan_inner .dcolortag .colorswatch {
    display: inline-block;
    width: 10%;
    vertical-align: middle;
}
.dcreate_clan_inner .dcolortag .colorinput {
    display: inline-block;
    width: 89%;
    vertical-align: middle;
}

.dcreate_clan_inner .dcolortag .colorswatch .xswatch {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
}
.dcreate_clan_inner .colorpicker {
    position: absolute;
    bottom: 0;
    left: 50px;
    
}
.dcreate_clan_inner .close_color_option {
    display: none;
}

.dcreate_clan_inner .open_color_option {
    display: block;
}

.create_clan_modal .confirmed_off,
.create_clan_modal .hide_form {
    display: none;
}

.create_clan_modal .confirmed_on {
    display: block;
}

.dcreatedconfirm .dmainmessage {
    text-align: center;
    padding: 100px 0;
}

.dcreatedconfirm .dmainmessage .dmessagemain {
    font-size: 23px;
    font-weight: bold;
    line-height: 1em;
    margin-bottom: 10px;
}

.dcreatedconfirm .dmainmessage .dclanname {
    font-size: 31px;
    line-height: 1em;
    color: #2d9cdb;
    font-weight: 600;
}

.login_buttons .login_button {
    background: linear-gradient(180deg, #fec946 0%, #f4aa3c 100%);
    line-height: 1em;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    padding: 10px 20px;
    letter-spacing: 1px;
    text-transform: capitalize;
    border-radius: 5px;
    margin-right: 10px;
}

.login_buttons .signup_button {
    background: linear-gradient(180deg, #fec946 0%, #f4aa3c 100%);
    line-height: 1em;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    padding: 10px 20px;
    letter-spacing: 1px;
    text-transform: capitalize;
    border-radius: 5px;
    margin-right: 10px;
}

.isauthheader > div {   
    display: inline-block;
    vertical-align: middle;
}

.isauthheader .dproficon {
    margin-right: 15px;
}

.isauthheader .dcoin {
    margin-right: 15px;
}

.isauthheader .dmedals {
    margin-right: 15px;
}
.d-new-challenge-pop {
    width: 750px;
    margin: 5% auto;
    background: #fff;
    box-shadow: 0 0 12px #ccc;
    border-radius: 8px;
    font-family: nunito, sans-serif;
}

.d-new-challenge-pop h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 1em;
    padding: 15px 20px;
    border-bottom: 1px solid #ccc;
}

.d-new-challenge-pop h3 {
    font-size: 18px;
    font-weight: bold;
    line-height: 1em;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.d-new-challenge-pop .d-new-challenge-step.d-challenge-step-three h3 {
    font-size: 18px;
    font-weight: bold;
    line-height: 1em;
    margin-bottom: 7px;
    text-transform: capitalize;
}

.d-new-challenge-pop .d-new-challenge-step.d-challenge-step-three .dnm-subheader {
    font-size: 16px;
    line-height: 1em;
    margin-bottom: 45px;
}

.d-new-challenge-pop .d-new-challenge-step.d-challenge-step-three .dnm-subheader-base {
    font-size: 16px;
    line-height: 1em;
    color: #bbb;
    margin-bottom: 30px;
}


.d-new-challenge-inner {
    padding: 100px 0;
    text-align: center;
}

.d-new-challenge-name-input input {
    border-bottom: 1px solid #ccc;
    width: 65%;
    line-height: 1em;
    padding: 10px 0;
    font-size: 17px;
    font-style: italic;
}

.d-new-challenge-name-input textarea {
    border-bottom: 1px solid #ccc;
    width: 65%;
    line-height: 1em;
    padding: 10px 0;
    font-size: 17px;
    font-style: italic;
}

.d-new-challenge-inner .d-new-challenge-option {
    margin-top: 20px;
}

.d-new-challenge-inner .d-new-challenge-option button.dnc-option-cancel {
    display: inline-block;
    vertical-align: middle;
    line-height: 1em;
    font-size: 13px;
    text-transform: uppercase;
    color: #A0A8B0;
    border: 1px solid #A0A8B0;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 10px;
    letter-spacing: 1px;
}

.d-new-challenge-inner .d-new-challenge-option button.dnc-option-proceed {
    display: inline-block;
    vertical-align: middle;
    line-height: 1em;
    font-size: 13px;
    background: #FFCA28;
    text-transform: capitalize;
    color: #fff;
    border: 1px solid #FFCA28;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 10px;
    letter-spacing: 1px;
}

.d-new-challenge-step.d-challenge-step-three .d-new-challenge-inner {
    padding: 50px 70px;
    text-align: left;
}

.dnm-create-challenge-from-scratch {
    padding: 20px 50px;
    border-bottom: 1px solid #ccc;
}

.dnm-create-challenge-from-scratch button {
    font-size: 28px;
    display: inline-block;
    color: #303C6C;
}

.dnm-create-challenge-from-scratch button span.dnm-scratch-icon {
    font-size: 28px;
    display: inline-block;
    color: #303C6C;
    vertical-align: middle;
    margin-right: 15px;
}

.dnm-create-challenge-from-scratch button span.dnm-from-scratch-span {
    font-size: 18px;
    display: inline-block;
    color: #303C6C;
    font-weight: bold;
    line-height: 1em;
}

.dnm-create-challenge-from-template {
    padding: 20px 50px;
}

.dnm-create-challenge-from-template > span {
    margin-right: 15px;
}

.dnm-create-challenge-from-template button {
    font-size: 28px;
    display: inline-block;
    color: #303C6C;
}

.dnm-create-challenge-from-template button span.dnm-scratch-icon {
    font-size: 28px;
    display: inline-block;
    color: #303C6C;
    vertical-align: middle;
    margin-right: 15px;
}

.dnm-create-challenge-from-template button span.dnm-from-scratch-span {
    font-size: 18px;
    display: inline-block;
    color: #303C6C;
    font-weight: bold;
    line-height: 1em;
}

.dnm-create-a-challenge-bottom {
    text-align: right;
    margin-top: 15px;
}

.dnm-create-a-challenge-bottom button {
    line-height: 1em;
    font-size: 14px;
    font-weight: bold;
}
