@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .h-580 {
      height: 580px;
    }
  }

.above-fold-info {
  margin-top: -70px;
}

.above-fold-info .black-header-title {
  line-height: 1em;
  padding-bottom: 15px;
}

.above-fold-info .yellow-header-title {
  line-height: 1em;
  padding-top: 0;
  padding-bottom: 15px;
}

.above-fold-info .black-sub-header-title {
  line-height: 1.3em;
}

.fb-login-error {
  text-align: center;
  margin: 19px 0;
  line-height: 1.2em;
  font-size: 12px;
  background: #ff6a6a;
  color: #fff;
  padding: 10px 0px;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: 1px;
}


.fade-anim img {
  animation: fadeAnim 0.5s ease-out;
}
@keyframes fadeAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}